#vt100 {
/*  padding: 20px;*/
  font-size: x-large;
}

#vt100 #cursor.bright {
  background-color: white;
  color:            #300A24;
}

#vt100 #cursor.dim {
  background-color: #300A24;
  opacity:          0.2;
  -moz-opacity:     0.2;
  filter:           alpha(opacity=20);
}

#vt100 #scrollable {
  color:            #ffffff;
  background-color: #300A24;
/*  padding-left: 20px;*/
}

#vt100 #scrollable.inverted {
  color:            #300A24;
  background-color: #ffffff;
}

#vt100 .ansiDef {
  color:            #ffffff;
}

#vt100 .ansiDefR {
  color:            #300A24;
}

#vt100 .bgAnsiDef {
  background-color: #300A24;
}

#vt100 .bgAnsiDefR {
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #300A24;
}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDef {
  background-color: #ffffff;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #300A24;
}
